<!DOCTYPE html>
<html lang="en">
<body>
    <form method="post" action="{{ url_for('answer') }}">
        <input type="text" name="first_operand" placeholder="Type in the first digit, please." autocomplete="off">
        <input type="text" name="operation" placeholder="Type in the operation, please." autocomplete="off">
        <input type="text" name="second_operand" placeholder="Type in the second digit, please." autocomplete="off">
        <input type="submit" value="Submit."/>
    </form>
</body>
</html>
